$white = #fff;
$black = #000;
$paper = #f2f2f2;
$green = #9ada15;
$blue = #4799f5;

main-gradient() {
  background: linear-gradient(-15deg, $green, $blue);
  background-attachment: fixed;
  backgrond-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  background-color: $white;

  &:before {
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    main-gradient();
    transform: rotate(-10deg);
    position: absolute;
    left: -50%;
  }
}

.page .wrapper {
  background-color: $white;
}