* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 68px;
  padding-right: 68px;
}

.row {
  clearfix();
}