$textFont = "botanika-web",sans-serif;
$codeFont = "botanika-mono-web",sans-serif;

body {
  font-family: $textFont;
  font-size: 16px;
  line-height: 24px;
}

code {
  display: block;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: $codeFont;
  line-height: 26px;
  background-color: alpha(black, 0.05);
}

h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 60px;
}