.app-header {
  padding: 20px 0;
  margin-bottom: 30px;
  clearfix();
  
  &--logo {
    color: $white;
    font-size: 26px;
    font-weight: bold;
    float: left;
    
    a {
      color: $white;
      text-decoration: none;
      
    }
  }
}